- name: Install Xpra
  hosts: all
  strategy: free
  become: true
  become_method: sudo
  tasks:
    - name: RedHat - install dnf requirements
      yum:
        name:
          - epel-release
          - dnf
          - python-dnf
        state: present
        update_cache: yes
      when: ansible_os_family == 'RedHat'
    - name: RedHat - Import key used for signing the packages
      rpm_key:
        state: present
        key: https://xpra.org/gpg.asc
      when: ansible_os_family == 'RedHat'
    - name: RedHat - Create yum repository if needed
      file:
        path: "/etc/yum.repos.d"
        state: directory
        recurse: yes
        mode: 0755
      when: ansible_os_family == 'RedHat'
    - name: RedHat - Add repository
      get_url:
        url: "https://xpra.org/repos/CentOS/xpra.repo"
        dest: "/etc/yum.repos.d/xpra.repo"
        mode: 0755
      when: ansible_os_family == 'RedHat'
    - name: RedHat - install Xpra
      dnf:
        name: xpra
        state: present
        update_cache: yes
      when: ansible_os_family == 'RedHat'
    - name: Debian - install gpg
      apt:
        name:
          - gpg
        state: present
        update_cache: yes
      when: ansible_os_family == 'Debian'
    - name: Debian - Import key used for signing the packages
      apt_key:
        url: https://xpra.org/gpg.asc
        state: present
      when: ansible_os_family == 'Debian'
    - name: Debian - Add repository
      get_url:
        url: "https://xpra.org/repos/{{ ansible_distribution_release }}/xpra.list"
        dest: "/etc/apt/sources.list.d/xpra.list"
        mode: 0755
      when: ansible_os_family == 'Debian'
    - name: Debian - install xrpa
      apt:
        name:
          - xpra
        state: present
        update_cache: yes
      when: ansible_os_family == 'Debian'
    - name: RedHat - install paraview
      dnf:
        name: paraview
        state: present
        update_cache: yes
      when: ansible_os_family == 'RedHat'
    - name: Debian - install paraview
      apt:
        name:
          - paraview
        state: present
        update_cache: yes
      when: ansible_os_family == 'Debian'
